In [12]:
import numpy as np
import pandas as pd
import csv

In [58]:
# fileName Config
train_data_path = "data/train.csv"
merchant_data_path = "data/merchants.csv"
historical_trans_path = "data/historical_transactions.csv"
new_mercha_trans_path = "data/new_merchant_transactions.csv"

sub_samples_path = "data/sample_submission.csv"
test_data_path = "data/test.csv"

train_paths = [train_data_path,merchant_data_path,
               historical_trans_path,new_mercha_trans_path]
train_names = ["train_data","merchant_data","old_trans","new_trans"]

test_paths = [test_data, sub_samples_path]
test_names = ["test_data","submit_samples"]

In [79]:
def load_data(paths, names):
    data = {}
    for path,name in zip(paths,names):
        print("Loading %s into data.%s" % (path[5:], name))
        data[name] = pd.read_csv(path)
    return data

In [80]:
dataTest = load_data(test_paths, test_names)

Loading test.csv into data.test_data
Loading sample_submission.csv into data.submit_samples

In [82]:
data = load_data(train_paths, train_names)

Loading train.csv into data.train_data
Loading merchants.csv into data.merchant_data
Loading historical_transactions.csv into data.old_trans
Loading new_merchant_transactions.csv into data.new_trans

In [84]:
dataTest["test_data"].head(10)

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1
5            2017-07  C_ID_5814b4f13c          5          1          1
6            2017-10  C_ID_a1b3c75277          1          2          0
7            2017-02  C_ID_f7cada36d3          3          1          1
8            2017-07  C_ID_9d2bc8dfc4          4          3          0
9            2016-03  C_ID_6d8dba8475          5          1          1

In [107]:
dataTest["test_data"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123623 entries, 0 to 123622
Data columns (total 5 columns):
first_active_month    123622 non-null object
card_id               123623 non-null object
feature_1             123623 non-null int64
feature_2             123623 non-null int64
feature_3             123623 non-null int64
dtypes: int64(3), object(2)
memory usage: 4.7+ MB

In [112]:
dataTest["test_data"].iloc[0:1]

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1